.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../assets/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.text-container {
  color: #fff;
  margin-top: 4em;
  margin-left: 12em;
  padding: 12em;
  display: block;
}
.hero-text {
  font-size: 4.2rem;
}
