.number-eighteen {
  font-family: 'Canela';
  font-size: 23.438rem;
  font-weight: 100;
  line-height: 1;
  color: #9d968c;
}
.years-history {
  font-size: 1.25rem;
  line-height: 1;
  margin-bottom: 0.7em;
}
.history-para {
  display: block;
  width: 50%;
  font-size: 0.875rem;
  font-weight: 300;
}
.member {
  font-family: 'Canela';
  font-size: 5.75rem;
  color: #9d968c;
}
.sidebar-two {
  margin-left: 3.624em;
}
.sidebar-three {
  margin-left: 3.624em;
}
